DATABASE_TYPE: "mysql"
DATABASE_USERNAME: "root"
DATABASE_PASSWORD: "password"
DATABASE_NAME: "users"
DATABASE_HOST: "mysql"
DATABASE_PORT: "3306"

APPLICATION_PORT: "1323"

DOCUMENTATION_CREDENTIALS: "user1:password1;user2:password2"